@import "./_utils/variables";
@import "./_utils/mixins";

@import "./_themes/default";

@import "./_components/navbar.scss";
@import "./_components/button.scss";

@import "./_layout/_base";
@import "./_layout/_header";
@import "./_layout/_footer";
@import "./_layout/_menu";


@import "./_layout/_base2";

@import "./_pages/_home";

$color_1: inherit;
$color_2: transparent;
$color_3: var(--color-grey-dark);
$color_4: var(--color-white);
$color_5: var(--color-grey-icone);
$color_6: var(--color-purple);
$color_7: var(--color-green-a);
$font-family_1: 'roboto', sans-serif;
$font-family_2: "Shrikhand", serif;
$background-color_1: var(--color-white);
$background-color_2: var(--color-black);
$background-color_3: var(--color-grey);
$background-color_4: var(--color-grey-light);
$background-color_5: var(--color-purple);
$background-color_6: var(--color-green-light);
$background-color_7: var(--color-grey-dark);

@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Shrikhand&display=swap";
/*******************************
            LOADER
*******************************/
/*******************************
            HEADER
*******************************/
/**  SECTION LOGO  **/
/**  logo site  **/
/***  SECTION LOCATION  **/
/**  logo  **/
/**  paragraphe  **/
/*******************************
              MAIN
*******************************/
/**  SECTION HERO  **/
/**  BUTTON MULTICOLOR  **/
/**  SECTION FONCTION  **/
/**  SECTION RESTAURANTS  **/
/** TESTE CHECKBOX COEUR DEBUT **/
/*******************************
            FOOTER
*******************************/
/***************************************
****************************************
             PAGES MENU 
****************************************
***************************************/
/** fléche retour **/
/** PAGE RESTAURANT **/
/**  PAGES MENU  **/
/**  section menu  **/
/* titre menu h2 */
/* menu card */
/* plate texte */
/*******************************
            MENU
    label + icone + checkbox
*******************************/
/* label */
/* icone */
/* menu checkbox */
/*******************************
    animation page loading
*******************************/
@keyframes rotate-forward {
/* animation ring forward */
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes rotate-backward {
/* animation ring backward */
	0% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
@keyframes flash {
/* animation texte */
	0% {
		background-image: linear-gradient(var(--color-pink),var(--color-purple));
	}
	50% {
		background-image: linear-gradient(var(--color-pink-c),var(--color-purple-c));
	}
	100% {
		background-image: linear-gradient(var(--color-pink),var(--color-purple));
	}
}
@keyframes animate {
/* animation disparition loading */
	100% {
		display: none;
	}
}
/*******************************
    animation page loading
    animation-timeline: view();
    animation-range: entry -100% cover 40%;
*******************************/
@keyframes scroll {
/* animation disparition loading */
	from {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}
/* scroll speed*/
@keyframes scroll {
	from {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}
&:root {
	--color-black-trans-15: #00000026;
	--color-black-trans-25: #00000040;
	--color-black: #000000;
	--color-white: #ffffff;
	--color-grey: #EAEAEA;
	--color-grey-light: #F6F6F6;
	--color-grey-dark: #353535;
	--color-grey-icone: #7E7E7E;
	--color-green: #008766;
	--color-green-light: #99E2D0;
	--color-blue: #003A6B;
	--color-blue-light: #89C8FA;
	--color-purple-c: #aa66fe;
	--color-purple: #9356dc;
	--color-pink-c: #ff7df0;
	--color-pink: #ff79da;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font-family_1;
}
body {
	background-color: $background-color_1;
	box-sizing: border-box;
}
img {
	object-fit: cover;
}
h1 {
	font-size: 24px;
	font-weight: 700;
}
p {
	font-size: 16px;
}
a {
	color: $color_1;
	text-decoration: none;
}
.checkbox-item {
	appearance: none;
}
.fa-solid {
	cursor: pointer;
}
section {
	width: 100%;
	height: auto;
}
.loader__block {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-color: $background-color_2;
	z-index: 1;
	animation: animate forwards;
	animation-delay: 3s;
	&::before {
		display: flex;
	}
	&::after {
		display: none;
	}
}
.ring {
	position: absolute;
	border-radius: 50%;
	&:nth-child(1) {
		width: 220px;
		height: 220px;
		border-top: 4px solid var(--color-purple-c);
		animation: rotate-forward 2s linear infinite;
	}
	&:nth-child(2) {
		width: 200px;
		height: 200px;
		border-right: 4px solid var(--color-pink-c);
		animation: rotate-backward 2s linear infinite;
	}
	&:nth-child(3) {
		width: 180px;
		height: 180px;
		border-bottom: 4px solid var(--color-blue-light);
		animation: rotate-forward 2s linear infinite;
	}
	&:nth-child(4) {
		width: 160px;
		height: 160px;
		border-left: 4px solid var(--color-grey-light);
		animation: rotate-backward 2s linear infinite;
	}
}
.loading__txt {
	font-family: $font-family_2;
	font-style: italic;
	font-size: 20px;
	background-image: linear-gradient(var(--color-pink),var(--color-purple));
	-webkit-background-clip: text;
	color: $color_2;
	animation: flash 1.5s linear infinite;
}
header {
	width: 100%;
	height: auto;
}
.header__navtop {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 63px;
}
.header__navtop--logo {
	width: 162px;
	height: auto;
}
.header__navbottom {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 17px;
	width: 100%;
	height: 50px;
	background-color: $background-color_3;
	box-shadow: inset 0 2px 4px 0 var(--color-black-trans-15);
}
.header__navbottom--ico {
	font-size: 16px;
	color: $color_3;
}
.header__navbottom--infobar {
	width: auto;
	height: auto;
	font-weight: 500;
	background-color: $background-color_3;
}
.container {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
}
.content__hero {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	gap: 15px;
	width: 100%;
	height: auto;
	padding: 10% 0;
	background-color: $background-color_4;
	box-shadow: inset 0 2px 4px 0 var(--color-black-trans-25);
}
.content__hero--title {
	width: 65%;
}
.content__hero--p {
	font-size: 18px;
	font-weight: 300;
	width: 90%;
	padding-bottom: 10px;
}
.btn__multicolor {
	position: relative;
	min-width: 186px;
	padding: 15px 20px;
	border: 0px;
	border-radius: 25px;
	background-image: linear-gradient(var(--color-pink),var(--color-purple));
	box-shadow: 0px 4px 10px 0 var(--color-black-trans-25);
	transition: 1s;
	&:hover {
		background-image: linear-gradient(var(--color-pink-c),var(--color-purple-c));
		box-shadow: 0px 2px 4px 0 var(--color-black);
	}
}
.btn__multicolor--link {
	font-size: 16px;
	font-weight: 500;
	color: $color_4;
}
.content__fonction {
	display: flex;
	flex-direction: column;
	gap: 25px;
	width: 100%;
	height: auto;
	padding: 50px 0;
	left: 30px;
}
.content__fonction--title {
	margin-left: 16px;
}
.content__fonction--group {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 25px;
	width: 100%;
	height: auto;
}
.content__fonction--block {
	width: auto;
	height: 72.38px;
}
.content__fonction--int {
	position: relative;
	display: flex;
	align-items: center;
	gap: 25px;
	width: 335px;
	height: 72.38px;
	padding-left: 35px;
	border-radius: 20px;
	background-color: $background-color_4;
	box-shadow: 2px 4px 15px var(--color-black-trans-15);
}
.content__fonction--intg {
	display: flex;
	align-items: baseline;
	gap: 25px;
	.fa-store {
		color: $color_6;
	}
}
.content__fonction--intnum {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	left: -13px;
	border-radius: 50%;
	background-color: $background-color_5;
}
.content__fonction--intnump {
	font-size: 14.18px;
	font-weight: 500;
	line-height: 16.62px;
	color: $color_4;
}
.content__fonction--intgico {
	font-size: 19.9px;
	color: $color_5;
}
.content__fonction--intgp {
	font-size: 16px;
	font-weight: 500;
	line-height: 18.75px;
}
.restaurants {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 18px;
	width: 100%;
	height: auto;
	padding: 50px 5%;
	background-color: $background-color_4;
}
.restauLink__article {
	width: 100%;
	height: auto;
	border-radius: 15px 15px;
	background-color: $background-color_1;
}
.restauLink__article--top {
	position: relative;
	width: 100%;
	height: 180px;
	border-radius: 15px 15px 0 0;
}
.restauLink__article--topImg {
	width: 100%;
	height: 180px;
	border-radius: 15px 15px 0 0;
}
.restauLink__article--topP {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 29px;
	top: 10px;
	right: 10px;
	font-size: 14px;
	font-weight: 500;
	color: $color_7;
	background-color: $background-color_6;
}
.restauLink__article--bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: auto;
	padding: 20px 20px 20px 10px;
}
.restauLink__article--botTxtTitle {
	font-size: 18px;
	font-weight: 700;
}
.restauLink__article--botTxtP {
	font-size: 17px;
	font-weight: 300;
}
.restauLink__Check {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 22px;
	height: 22px;
	input[type="checkbox"] {
		position: absolute;
		visibility: hidden;
		width: 22px;
		height: 22px;
		&:checked {
			~ {
				label {
					.restauLink__icon--CoeurPlein {
						opacity: 1;
						background-image: linear-gradient(var(--color-purple), var(--color-pink));
					}
				}
			}
		}
	}
}
.restauLink__check--label {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 22px;
	height: 22px;
	position: absolute;
	cursor: pointer;
	position: absolute;
	cursor: pointer;
}
.restauLink__icon--CoeurVide {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 22px;
	height: 22px;
}
.restauLink__icon--CoeurPlein {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 22px;
	height: 22px;
	position: absolute;
	top: 0;
	left: 0;
	color: $color_2;
	background-clip: text;
	background-image: linear-gradient(var(--color-purple), var(--color-pink));
	opacity: 0;
	transition: 0.3s ease;
	position: absolute;
	top: 0;
	left: 0;
	color: $color_2;
	background-clip: text;
	background-image: linear-gradient(var(--color-purple), var(--color-pink));
	opacity: 0;
	transition: 0.3s ease;
	&:hover {
		opacity: 1;
		opacity: 1;
	}
}
.footer {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
	height: auto;
	padding: 22px 25px;
	color: $color_4;
	background-color: $background-color_7;
}
.footer__section--logosvg {
	width: 137.58px;
	height: 27px;
	path {
		fill: var(--color-white);
	}
}
.footer__section--link {
	display: flex;
	flex-direction: column;
	gap: 7px;
	width: 100%;
	height: auto;
}
.footer__seclink--ico {
	font-size: 12px;
	margin-right: 11px;
}
.footer__seclink {
	display: flex;
	align-items: center;
	font-size: 16px;
	font-weight: 500;
	line-height: 18.75px;
}
.footer__seclink--a {
	font-size: 16px;
	font-weight: 400;
	line-height: 18.75px;
}
.header__navtop--arrow {
	position: absolute;
	font-size: 17px;
	top: 17px;
	left: 17px;
}
.restaurant {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.restaurants__title {
		font-family: $font-family_2;
		font-weight: 400;
		font-style: italic;
		font-size: 28px;
	}
}
#restauLink__checkbox {
	position: absolute;
	visibility: hidden;
	width: 22px;
	height: 22px;
	&:checked {
		~ {
			.restauLink__check--label {
				.restauLink__icon--CoeurPlein {
					opacity: 1;
					background-image: linear-gradient(var(--color-purple), var(--color-pink));
				}
			}
		}
	}
}
.menu__image--img {
	position: absolute;
	width: 100%;
	height: 275px;
}
.content__menu {
	position: relative;
	top: 220px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	gap: 40px;
	width: 100%;
	height: auto;
	margin-bottom: 220px;
	padding: 40px 26px;
	border-radius: 40px 40px 0 0;
	background-color: $background-color_4;
}
.menu {
	.menu__title {
		width: auto;
		height: 27px;
	}
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 12px;
	width: 100%;
	height: auto;
	.menu__article {
		position: relative;
		overflow: hidden;
		border-radius: 15.04px;
		background-color: $background-color_1;
	}
	.menu__plate {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		height: auto;
	}
	.plate__txt {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		display: flex;
		flex-direction: column;
		gap: 5px;
		padding: 15px 0 15px 15px;
	}
	.plate__title {
		font-size: 18px;
		font-weight: 500;
	}
	.plate__complement {
		font-size: 15.04px;
		font-weight: 300;
	}
	.plate__money {
		display: flex;
		align-items: end;
		gap: 16px;
		top: 0;
		width: auto;
		height: 100%;
	}
	.plate__prix {
		font-size: 15.04px;
		font-weight: 700;
		padding: 15px 0 15px 15px;
	}
	.menu__label {
		position: absolute;
		display: flex;
		justify-content: space-between;
		top: 0;
		gap: 12px;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
	.plate__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 0px;
		height: 69px;
		border-radius: 0 15.04px 15.04px 0;
		background-color: $background-color_6;
		transition: 0.3s linear;
		.fa-circle-check {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 0px;
			border-radius: 50%;
			color: $color_4;
			transition: 0.3s linear;
		}
	}
	input[type="checkbox"] {
		appearance: none;
		position: relative;
		width: 100%;
		height: 65px;
		border-radius: 15.04px;
		cursor: pointer;
		outline: none;
		&:hover {
			+ {
				label {
					.fa-circle-check {
						font-size: 20px;
						width: 59px;
					}
					.plate__icon {
						font-size: 20px;
						width: 59px;
					}
				}
			}
		}
		&:checked {
			+ {
				label {
					.fa-circle-check {
						font-size: 20px;
						width: 59px;
					}
					.plate__icon {
						font-size: 20px;
						width: 59px;
					}
				}
			}
		}
	}
}
.menu__title--h2 {
	position: relative;
	font-size: 16px;
	font-weight: 300;
	&::after {
		content: "";
		position: absolute;
		background-color: $background-color_6;
		height: 3px;
		width: 40px;
		top: 27px;
		left: 0;
	}
}
.card__menu {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 12px;
	width: 100%;
	height: auto;
}
.plate__title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.plate__complement {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.menu__scroll {
	animation: scroll linear 0.3s;
	animation-timeline: view();
	animation-range-start: cover 0%;
	animation-range-end: contain 18%;
}
.menu__scrolls {
	animation: scroll linear 0.3s;
	animation-timeline: view();
	animation-range-start: cover -10%;
	animation-range-end: contain 3%;
}
